@import "./styles/reset.scss";

:root {
	--slate-100: #f8fafc;
	--slate-200: #e2e8f0;
	--slate-400: #94a3b8;
	--slate-600: #475569;
	--slate-800: #1e293b;
	--light-orange: #fed7aa;
	--orange: #fb923c;
	--light-green: #dcfce7;
	--green: #22c55e;
}

body {
	background: var(--slate-200);
	color: var(--slate-800);
	font-family: "proxima-nova", sans-serif;

	.container {
		background: white;
		padding: 4rem;
		border-radius: 1.6rem;
	}
}

@import "./styles/headings.scss";
@import "./styles/text-styles.scss";
@import "./styles/text-size.scss";
@import "./styles/form.scss";
