@import "./base.css";

:root {
	--slate-200: #e2e8f0;
	--slate-400: #94a3b8;
	--slate-600: #475569;
	--slate-800: #1e293b;
	--light-orange: #fed7aa;
	--orange: #e86e34;
}

body {
	background: var(--slate-200);
	color: var(--slate-800);
	font-family: "proxima-nova", sans-serif;

	h1.page-title {
		text-align: center;
		margin-bottom: 4rem;
	}

	a,
	a:visited {
		color: inherit;
	}
}

form {
	background: white;
	padding: 4rem;
	border-radius: 1.6rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	p.error-message {
		background: var(--light-orange);
		padding: 1rem 2rem;
		border-radius: 0.6rem;
		border-left: 4px solid var(--orange);
	}

	.label {
		font-weight: bold;
		display: block;
		font-size: 1.1rem;
		margin-bottom: 0.5rem;
	}
}
