a,
a:visited {
	color: inherit;
}

:focus-visible {
	outline: 2px solid var(--orange);
	outline-offset: 4px;
}

.message {
	background: var(--light-orange);
	padding: 1rem 2rem;
	border-radius: 0.6rem;
	border-left: 4px solid var(--orange);

	&--yellow {
		background: #fef3c7;
		border-left: 4px solid #f59e0b;
	}

	&--red {
		background: #fee2e2;
		border-left: 4px solid #ef4444;
	}

	&--green {
		background: var(--light-green);
		border-left: 4px solid var(--green);
	}
}
